/*
RELACIÓN 3 · EJERCICIO 3 · animation-play-state
Crea una animación que haga girar una figura continuamente 360 grados en 5s.
La animación debe pausarse cuando el usuario pase el cursor sobre la figura y reanudarse al quitar el cursor.
*/

:root { --lado: 100px; }

.rombo {
  width: var(--lado);
  height: var(--lado);
  background: #1e90ff;
  transform: rotate(45deg);
  transform-origin: center;
  display: block;
}

/* .rotando {
  animation: rotar 5s 0s;
  animation-play-state: running;
} */

@keyframes rotar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotando {
  animation: rotar 5s infinite linear;
}

.rotando:hover {
  animation-play-state: paused;
}

.lienzo { grid-template-columns: repeat(1, minmax(120px, 1fr)); }
