/*
RELACIÓN 2 · EJERCICIO 1 · Rebote vertical
Aplica una animación que haga que las figuras suban y bajen continuamente 50 px.
El movimiento debe ser alterno, con una duración de 1 s y repetirse de forma infinita.
*/

:root { --lado: 100px; }

.cuadrado { 
  width: var(--lado); 
  height: var(--lado); 
  background: #1e90ff; 
  display: block; 
  animation: rebote 1s alternate infinite;
}

.circulo { 
  width: var(--lado); 
  height: var(--lado); 
  border-radius: 50%; 
  background: #1e90ff; 
  display: block; 
  animation: rebote 1s alternate infinite;
}

@keyframes rebote {
  0% {
    transform: translateY(0); 
  }
  100% {
    transform: translateY(-50px); 
  }
}