
/* Personalizaci贸n de Animaciones */

/* Modal Personalizado */
.modal.fade .modal-dialog {
    transform: translate(0, -50px);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
.modal.show .modal-dialog {
    transform: translate(0, 0);
}

/* Dropdown Personalizado */
.dropdown-menu {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

/* Secci贸n Expandible */
.collapse {
    transition: height 0.6s ease-in-out;
}
/* Clase personalizada para repetir la animaci贸n */
.infinite-bounce {
    animation-iteration-count: infinite; /* Repite la animaci贸n infinitamente */
    animation-delay: 3s; /* Intervalo de 3 segundos entre repeticiones */
}
