/*
RELACIÓN 3 · EJERCICIO 2 · animation-direction
Crea una animación en la que cuatro círculos se desplacen 200px hacia la derecha y regresen, usando distintos valores de animation-direction: normal, reverse, alternate y alternate-reverse.
Cada círculo debe tardar 3s en completar la animación y repetirla indefinidamente.
*/

:root {
  --lado: 100px;
}



.circulo {
  width: var(--lado);
  height: var(--lado);
  border-radius: 50%;
  background: #1e90ff;
  display: block;
}

.dir-normal {
  animation: mover 3s infinite;
  animation-direction: normal;
}

.dir-reverse {
  animation: mover 3s infinite;
  animation-direction: reverse;
}

.dir-alternate {
  animation: mover 3s infinite;
  animation-direction: alternate;
}

.dir-alternate-reverse {
  animation: mover 3s infinite;
  animation-direction: alternate-reverse;
}

@keyframes mover {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(200px);
  }
}



.lienzo {
  grid-template-columns: repeat(4, minmax(120px, 1fr));
}